.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero .container .maintitle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  display: flex;
  max-width: 496px;
  margin: 0 auto;
  padding-bottom: 48px;
}

.hero .container .orderbutton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #fff;
  border: none;
  display: block;
  padding: 16px 32px;
  margin: 0 auto;
  border-radius: 4px;
}
.hero .orderbutton:hover,
.hero .orderbutton:focus {
  background-color: #404bbf;
  color: #fff;
}
.hero .orderbutton {
  cursor: pointer;
}
